**/*.rs.bk
Cargo.lock
bin
obj
target
.vs
*.vcxproj.user
*.csproj.user

# CMake artifacts
build
CMakeFiles
Makefile

# Dolphin metadata
.directory

# CMakeTools plugin, may contain full paths
.vscode/.cmaketools.json

# MSVC artifacts
Debug
