
version: "{build}"

os:
    - Visual Studio 2017
      # - Visual Studio 2015
      # - Visual Studio 2013

environment:
    matrix:
    - TARGET: nightly-x86_64-pc-windows-msvc

      # Disable the GNU target for now as it's broken. Rust #47029
      #- TARGET: nightly-x86_64-pc-windows-gnu


install:
    - ps: Start-FileDownload "https://static.rust-lang.org/dist/rust-${env:TARGET}.exe" -FileName "rust-install.exe"
    - ps: .\rust-install.exe /VERYSILENT /NORESTART /DIR="C:\rust" | Out-Null
    - ps: $env:PATH="$env:PATH;C:\rust\bin"
    - rustc -vV
    - cargo -vV

before_build:
    - nuget restore test\cs\cs.sln

platform:
    - x64

build_script:
    - cmd: .\scripts\ci.bat

test_script:
    - cargo test --all-features
    - ps: .\scripts\test.ps1
